@import 'src/tokens';

.container {
  display: flex;
  background-color: $color-grey-050;
  border-radius: $border-radius-l;
  overflow: hidden;
}

.image {
  max-width: 12rem;
  height: auto;
  object-fit: cover;
}

.body {
  padding: 1.5rem;
  text-align: start;
  font-size: $text-size-m;
}

.quote {
  font-weight: $text-weight-bold;
  margin-bottom: 1rem;
  color: $text-on-grey-050;
}

.name {
  font-size: $text-size-l;
  color: $text-on-grey-050;
}

.job {
  color: $text-on-grey-050--subdued;
  font-size: $text-size-s;
}

.container--is-vertical {
  flex-direction: column;
}

.image--is-vertical {
  border-radius: 100rem;
  height: 8rem;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.body--is-vertical {
  text-align: center;
}
